{% extends 'base-speciale.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="mb-5">
        <h2 class="cta-1 mb-0 text-primary">Bienvenue,</h2>
        <h2 class="cta-1 text-primary">Inscriptions closes / dépôt d'offre fermé</h2>
    </div>

    <div class="mb-5">
        <p class="h6">
            Les inscriptions sont closes pour le jobdating du 2 juin 2022 à l'IUT de Troyes. Pour toutes questions
            contactez nous à <a href="mailto:entreprises.iut-troyes@univ-reims.fr">entreprises.iut-troyes@univ-reims.fr</a>.
        </p>
    </div>
{% endblock %}
