{% extends 'base.html.twig' %}

{% block title %}Nouveau représentant de l'entreprise{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ include('_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block header %}
    Ajouter un représentant de l'entreprise
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_espace_entreprise') }}" class="btn btn-outline-primary">
        <i class="bi bi-arrow-left-circle"></i>
        Retour à l'espace entreprise
    </a>
{% endblock %}
