{% extends 'base.html.twig' %}

{% block header %}
    Votre planning de JobDating
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        Cette fonctionnalité sera accessible dans les prochains jours.
    </div>
{% endblock %}

